body {
  margin: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #fff;
  background: black;
}

.slick-dots {
  bottom: 95px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '\2022';
    text-align: center;
    opacity: .50;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}
